<mat-toolbar color="primary" class="mat-elevation-z15 position">
  <span class="ms-2">Stock Manager</span>
  <span class="spacer"></span>
  <button mat-icon-button aria-label="Access the employees page" (click)="navigateToo('products')" class="me-2">
    <span class="material-icons-round">inventory_2</span>
  </button>
  <button mat-icon-button aria-label="Access the employees page" (click)="navigateToo('employees')">
    <span class="material-icons-round">people</span>
  </button>
</mat-toolbar>
